
// ширина контента
$content-max-width: 74rem;
$content-min-width: 15rem;
$content-indent: 0.8rem;

// шрифты
@use "fonts.css"; 

$font-family-0: Roboto, sans-serif;
$font-family-1: "Playfair Display", serif;
$font-family-2: Prata, serif;

// цвета основные
$color-0: #ffffff;
$color-1: #555248;
$color-2: #1B1A17;
$color-3: #444240;
$color-3a: #1B1A17;
$color-4: #D4B098;
$color-4a: #8b6e5a;

$bg-color-0: #ffffff;
$bg-color-1: #FDFDFB; 
$bg-color-2: #444240;
$bg-color-3: #F7F5EF;

// основное меню
$main-menu-bg-color: $bg-color-1;
$main-menu-item-color: $color-1;
$main-menu-item-hover-color: $color-3;
$main-menu-item-hover-bg-color: $bg-color-1;

// цвета кнопок
$button-style-1-color: $color-0;
$button-style-1-bg-color: $color-3;
$button-style-1-hover-color: $color-0;
$button-style-1-hover-bg-color: $color-3a;

$button-style-2-color: $color-0;
$button-style-2-hover-color: $color-0;
$button-style-2-bg-color: $color-4;
$button-style-2-hover-bg-color: $color-4a;

// временная граница для отладки
@mixin debug-border($color) { 
    // border: 1px solid $color; 
}

//===

body {
    font-size: 1rem;
    font-family: $font-family-0;
    color: $color-1;
    margin: 0;
    padding: 0;
    background-color: $bg-color-0;
}

* { box-sizing: border-box; }

a { 
    text-decoration: none;
    transition: color 0.5s;

    &:hover { 
        text-decoration: underline;
        transition: color 0.5s
    }
}

.h1 {
    font-family: $font-family-1;
    font-size: 2.7em;
    color: $color-2;
}

.h2 {
    font-family: $font-family-1;
    font-size: 1.8rem;
    color: $color-2;
}

// обертка флекс-колонка для опускания футера к низу страницы в случае маленькой высоты контента
.page-wrapper {
    display: flex;
    min-height: 100vh;
    min-width: $content-min-width;
    flex-direction: column;
    align-items: stretch;
}

// шапка
.header {
    justify-self: flex-start;
    @include debug-border(red);
}

// основное содержание страницы
.main {
    flex-grow: 1;
    @include debug-border(green);
}

// подвал
.footer {
    justify-self: flex-end;
    @include debug-border(blue); 
}

// тело шапки
.header-body {
    padding: 1rem 0;
    background-color: $bg-color-1;

    &__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: $content-max-width; 
        padding: 0 $content-indent;
        justify-content: space-between;
        flex-wrap: wrap; 
        @include debug-border(red);
    }
    
    &__left {
        display: flex;
        flex-basis: 9rem;
        align-items: center;
        justify-content: flex-start;
        @include debug-border(blueviolet);
    }

    &__center {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        @include debug-border(blueviolet);
    }

    &__right {
        display: flex;
        flex-basis: 9rem;
        align-items: center;
        justify-content: flex-start;
        @include debug-border(blueviolet);
    }
}

// блок-логоитип
.logo-block {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5em 0;

    &__image { 
        position: relative;
        left: 0;
        top: -0.1em;
        width: 1.6em;
        height: 1.6em;  
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto; 
    }

    &__title {
        margin-left: 0.2em;
        font-family: $font-family-1;
        font-size: 1em;
    }

    &--style-1 &__image { background-image: url('../images/logo-1.svg'); }
    &--style-1 &__title { color: $color-1; }

    &--style-2 &__image { background-image: url('../images/logo-2.svg'); }
    &--style-2 &__title { color: $color-0; }

    & a {
        text-decoration: none;
        &:hover { text-decoration: none; }
    }
}

// основное меню в шапке
.main-menu {
    padding: 0.2rem 0;
    background-color: $main-menu-bg-color;
    border-top: 2px solid $bg-color-1;
    text-align: center;
    font-size: 1rem;

    &__wrapper {
        display: inline-flex;
        max-width: $content-max-width;
        justify-content: flex-start;
        flex-wrap: wrap; 
        column-gap: 0.4em;
    }

    &__item {
        display: inline-block;
        padding: 0.5em 0.8em;
        color: $main-menu-item-color;
        text-decoration: none;
        transition: color 0.5s, background-color 0.5s;
        
        &:hover {
            color: $main-menu-item-hover-color;
            text-decoration: underline;
            transition: color 0.5s, background-color 0.5s;
        }
    }
}

.tray {
    display: flex;
    column-gap: 1rem;

    &__item {
        position: relative;
        width: 2.2rem;
        height: 2.2rem;
        padding: 0.5rem 0.7rem 0.2rem 0.2rem;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        background-origin: content-box;

        &:hover { cursor: pointer; }

        &--search { background-image: url('../images/icon-search.svg'); }
        &--liked { background-image: url('../images/icon-liked.svg'); }
        &--basket { background-image: url('../images/icon-basket.svg'); }

        @include debug-border(red);
    }

    &__mark {
        position: absolute;
        right: 0;
        top: 0;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #E6C8B4;
        border-radius: 50%;
        padding: 0.1rem 0.18rem 0.18rem 0.18rem;
        text-align: center;
        font-size: 0.7rem;
        color: $color-2;
        //@include debug-border(red);
    }
}

// секции основного контента
.sect-1 {
    background-color: $bg-color-1;

    &__wrapper {
        display: flex;
        margin: 0 auto; 
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 $content-indent;
        max-width: $content-max-width;
        @include debug-border(blue);
    }
    
    &__left {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 80%; 
        @include debug-border(green);
    }

    &__left-wrapper {
        position: relative;
        left: 22%;
        top: 0;
        z-index: 1;
        align-self: center;
        width: 100%;
        max-height: 100%;
        padding: 1rem;
        @include debug-border(orange);
    }

    &__title {
        margin-bottom: 0.2rem;
    }

    &__subtitle {
        margin-bottom: 1.3rem;
        font-family: $font-family-1;
        font-size: 1.8em;
        color: $color-2;
    }

    &__text {
        margin-bottom: 2rem;
        max-width: 19rem;
        font-family: $font-family-0;
        color: $color-2;
    }

    &__button-box {
        & .button {
            width: 12rem;
        }
    }

    &__right {
        flex-basis: 65%;
        flex-grow: 1;
        flex-shrink: 1;
        @include debug-border(red);
    }

    &__image-box {
        position: relative;
        margin-right: 2rem;
        height: 100%;
        max-width: 40rem;
        max-height: 40rem;
        aspect-ratio: 1;
        background: left center / auto 100% no-repeat url('../images/watch_main_bg.svg');
        @include debug-border(green);
    }
    
    &__image {
        position: absolute;
        top: -3%;
        left: 26%;
        height: 107%;
        //@include debug-border(rgb(245, 10, 186));
    }

    &__price {
        position: absolute;
        top: 15%;
        left: 18%;
        width: 19%;
        font-family: $font-family-2;
        font-size: 0.9em;
        color: $color-2;
        @include debug-border(blue);

        &:after {
            position: relative;
            top: -0.1em;
            left: 0;
            display: inline-block;
            content: '';
            vertical-align: middle;
            width: 3em;
            margin-left: 0.3em;
            border-top: 1px solid #8B8371;
        }
    }

    &__diam {
        position: absolute;
        bottom: 15%;
        left: 78%;
        width: 26%;
        font-family: $font-family-2;
        font-size: 0.9em;
        color: $color-2;
        @include debug-border(blue);

        &:before {
            position: relative;
            top: -0.1em;
            left: 0;
            display: inline-block;
            content: '';
            vertical-align: middle;
            width: 3em;
            margin-right: 0.3em;
            border-top: 1px solid #8B8371;
        }
    }
}

// популярные модели
.sect-2 {
    margin-top: 4rem;
    background-color: $bg-color-0;

    &__wrapper {
        margin: 0 auto; 
        padding: 0 $content-indent;
        max-width: $content-max-width;
        @include debug-border(orange);
    }

    &__title {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    & a { 
        color: $color-1;
        text-decoration: none;
        transition: color 0.5s;
    
        &:hover { 
            text-decoration: underline;
            transition: color 0.5s
        }
    }
} 

.product-block {
    &__title {
        text-align: right;
    }

    & > a {
        display: inline-block;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid #8B8371;
    }
}

.product-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    column-gap: 1rem;
    row-gap: 1rem;
    @include debug-border(blue);

    &__group {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        flex-wrap: nowrap; 
        column-gap: 1rem;
    }
    
    &__item {
        flex-grow: 1;
        text-align: center;
        @include debug-border(blueviolet);
    }
}

.product-card {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    text-align: left;
    background-color: $bg-color-1;
    @include debug-border(green);

    &__title {
        margin: 0.5rem 0;
        font-family: $font-family-1;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    &__price {
        margin: 0.5rem 0;
        font-family: $font-family-2;
        font-size: 1em;
        white-space: nowrap;
    }

    &__image-box {
        text-align: center;
        // background-image: url('../images/product-circle.svg');
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-size: 100% auto;
        background: center center / 100% auto no-repeat url('../images/product-circle.svg');

        &:hover { cursor: pointer; }
        //@include debug-border(red);
    }

    &__more {
        margin: 0.5rem 0;

        &:before {
            content: '';
            position: relative;
            top: -0.1em;
            left: 0;
            display: inline-block;
            vertical-align: middle;
            width: 2em;
            margin-right: 0.3em;
            border-top: 1px solid #8B8371;
        }
    }
}

// раздел 3
.sect-3 {
    margin-top: 4rem;
    background: left top / 30% 100% no-repeat url('../images/sect-3-left-bg.svg') $bg-color-1;

    &__wrapper {
        display: flex;
        margin: 0 auto; 
        max-width: $content-max-width;
        padding: 0 $content-indent;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
        background: left top / 30% 100% no-repeat url('../images/sect-3-left-bg.svg') $bg-color-1;
        @include debug-border(red);
    }

    &__left {
        position: relative;
        //flex-grow: 1;
        flex-shrink: 1;
        max-width: 50rem;
        background: left top / 60% 100% no-repeat url('../images/sect-3-left-bg.svg') $bg-color-1;
        @include debug-border(green);
    }

    &__image-box {
        padding-top: 3rem;
        padding-left: 10%;
        width: 100%;
    }

    &__image {
        width: 100%;
    }

    &__pagination-box {
        position: relative;
        left: 60%;
        top: 0;
        display: flex;
        width: 40%;
        height: 3rem;
        justify-content: center;
        align-items: center;
        //@include debug-border(red);
    }

    &__right {
        display: flex;
        min-width: 20rem;
        flex-grow: 1;
        align-items: center;
        padding: 0.8rem;
        background: 
            right top / auto 40% no-repeat url('../images/sect-3-right-bg-1.svg'), 
            right bottom / auto 90% no-repeat url('../images/sect-3-right-bg-2.svg'), 
            $bg-color-1;
        @include debug-border(rgb(241, 19, 175));
    }

    &__text-box {
        padding: 5%;
    }

    &__title {
        margin-bottom: 1.3rem;
    }

    &__text {
        margin-bottom: 2rem;
        max-width: 25em;
    }

    & a { 
        color: $color-1;
        text-decoration: none;
        transition: color 0.5s;
    
        &:hover { 
            text-decoration: underline;
            transition: color 0.5s
        }
    }
}

// раздел 4
.sect-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: $bg-color-0;

    &__wrapper {
        display: flex;
        margin: 0 auto; 
        max-width: $content-max-width;
        padding: 0 $content-indent;
        align-items: center;
        column-gap: 1rem;        
        @include debug-border(red);
    }

    &__left {
        flex-basis: 40%;
        @include debug-border(yellow);
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 2rem;
        max-width: 25em;
    }

    &__right {
        flex-grow: 1;
        padding: 1rem;

        & * { box-sizing: content-box; }

        @include debug-border(rgb(241, 19, 175));
    }

    &__image-table {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.8rem;
        row-gap: 0.8rem;
        @include debug-border(blue);
    }

    &__image-col {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 0.8rem;
        @include debug-border(green);
    }

    &__image-box {
        flex-grow: 1;
        width: 100%;
        @include debug-border(red);
    }

    &__image {
        max-width: 100%;
        height: 100%;
    }

    & a { 
        color: $color-1;
        text-decoration: none;
        transition: color 0.5s;
    
        &:hover { 
            text-decoration: underline;
            transition: color 0.5s
        }
    }
}

// footer
.footer {
    padding: 3rem 0;
    color: $color-0;
    background-color: $bg-color-2;

    &__wrapper {
        display: flex;
        margin: 0 auto; 
        justify-content: space-between;
        flex-wrap: wrap; 
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 0 $content-indent;
        //padding-right: 5%;
        max-width: $content-max-width;
        @include debug-border(red);
    }

    &__col-1 {
        //width: 12rem;
        flex-basis: 15%;
        flex-grow: 1;
        @include debug-border(orange);
    }

    &__col-1-logo-box {
        margin-top: -0.8rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        @include debug-border(red);
    }

    &__col {
        flex-basis: 15%;
        flex-grow: 1;
        @include debug-border(orange);
    }

    &__col-title {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__col-list {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        color: rgba(255, 255, 255, 0.75);
        @include debug-border(red);

        & > li {
            margin: 1em 0;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
    }

    & a { 
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        transition: color 0.5s;
    
        &:hover { 
            text-decoration: underline;
            transition: color 0.5s
        }
    }
}

// social icons
.social-row {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.social-icon {
    width: 3rem;
    height: 3rem; 
    border: 2px solid $color-2;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s; 

    &:hover {
        background-color: $bg-color-3;
        transition: background-color 0.5s;
    }
}

// кнопки
%button-trans-color { 
    transition: color 0.5s, background-color 0.5s; 
}

.button {  
    display: inline-block;
    line-height: 1rem;
    padding: 1.3rem;
    text-align: center;
    font-family: $font-family-0;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    &:hover { cursor: pointer; }

    &--style-1 {
        color: $button-style-1-color;
        background-color: $button-style-1-bg-color;
        @extend %button-trans-color; 

        &:hover {
            color: $button-style-1-hover-color;
            background-color: $button-style-1-hover-bg-color;
            @extend %button-trans-color;
        }
    }

    &--style-2 {
        color: $button-style-2-color;
        background-color: $button-style-2-bg-color;
        @extend %button-trans-color;

        &:hover {
            color: $button-style-2-hover-color;
            background-color: $button-style-2-hover-bg-color;
            @extend %button-trans-color;
        }
    } 
}

// поле ввода
.input {  
    display: inline-block;
    line-height: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 1.1rem;

    &:focus::placeholder { opacity: 0;}

    &--style-1 {
        color: $color-1;
        background-color: $bg-color-0;
        border: 2px solid $color-2;
        outline-color: $color-2;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    //@include debug-border(green);

    &__numpage {
        padding: 0 0.5rem;
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;

        &:hover {
            background-color: $bg-color-3;
            text-decoration: none;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 60%;
        }

        &--prev:before { background-image: url('../images/arrow_left.svg'); }
        &--next:before { background-image: url('../images/arrow_right.svg'); }
    }
}